* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background-color: #f7ffdc;
}
*:focus {
  outline: none;
}

body {
  margin: 0;
  background-color: #ffeff5;
}

#player-container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 300px;
  height: 80px;
  margin: -4px auto;
}

#player-bg-artwork {
  position: fixed;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  background-image: url("https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  filter: blur(40px);
  -webkit-filter: blur(40px);
  z-index: 1;
}

#player-bg-layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
}

#player {
  position: relative;
  height: 100%;
  z-index: 3;
}

#player-track {
  position: absolute;
  top: 0;
  right: 15px;
  left: 15px;
  height: 58px;
  padding: 13px 22px 10px 184px;
  background-color: #f7ffdc;
  border-radius: 15px 15px 0 0;
  transition: 0.3s ease top;
  z-index: 1;
}

#player-track.active {
  top: -80px;
}

#album-name {
  color: #526900;
  font-size: 12px;
  font-weight: bold;;
  margin: 0px -10px 0px -80px;
}

#track-name {
  color: #acaebd;
  font-size: 10px;
  margin: 2px -10px 13px -80px;
}

#track-time {
  height: 12px;
  margin-bottom: 3px;
  overflow: hidden;
}

#current-time {
    position: absolute;
  left: 105px; /* Posiciona o tempo atual no lado esquerdo */
  top: 50; /* Define a posição no eixo vertical */
  float: left;
}

#track-length {
    position: absolute;
  right: 10px; /* Posiciona o tempo total no lado direito */
  top: 55px; /* Define a posição no eixo vertical */
  float: right;
}

#current-time,
#track-length {
  color: transparent;
  font-size: 11px;
  background-color: #b6c485;
  border-radius: 10px;
  transition: 0.3s ease all;
}

#track-time.active #current-time,
#track-time.active #track-length {
  color: #b6c485;
  background-color: transparent;
}

#seek-bar-container,
#seek-bar {
  position: absolute;
  left: 40%;
  width: 50px;
  height: 4px;
  border-radius: 4px;
}

#seek-bar-container {
  background-color: #b6c485;
  cursor: pointer;
  width: 150px;
}

#seek-time {
  position: absolute;
  top: -29px;
  color: #fff;
  font-size: 12px;
  white-space: pre;
  padding: 5px 6px;
  border-radius: 4px;
  display: none;
}

#s-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 2;
}

#seek-time,
#s-hover {
  background-color: #526900;
}

#seek-bar {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #526900;
  transition: 0.2s ease width;
  z-index: 1;
}

#player-content {
  position: relative;
  height: 100%;
  background-color: #b6c485;
  border-radius: 15px;
  z-index: 2;
}

#album-art {
  position: absolute;
  top: -40px;
  width: 80px;
  height: 80px;
  margin-left: 30px;
  transform: rotateZ(0);
  transition: 0.3s ease all;
  box-shadow: 0 0 0 10px #b6c485;
  border-radius: 50%;
  overflow: hidden;
}

#album-art.active {
  top: -60px;
  box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: -10px auto 0 auto;
  background-color: #d6dee7;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #fff;
  z-index: 2;
}

#album-art img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

#album-art img.active {
  opacity: 1;
  z-index: 1;
}

#album-art.active img.active {
  z-index: 1;
  animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#buffer-box {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 13px;
  color: #1f1f1f;
  font-size: 13px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  padding: 6px;
  margin: -12px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.19);
  opacity: 0;
  z-index: 2;
}

#album-art img,
#buffer-box {
  transition: 0.1s linear all;
}

#album-art.buffering img {
  opacity: 0.25;
}

#album-art.buffering img.active {
  opacity: 0.8;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box {
  opacity: 1;
}

#player-controls {
  width: 150px;
  height: 100%;
  margin: 0 5px 0 120px;
  float: left;
  overflow: hidden;
}

.control {
  width: 20%;
  float: left;
  padding: 12px 10px;
}

.button {
  width: 15px;
  height: 15px;
  padding: 15px;
  background-color: #b6c485;
  border-radius: 6px;
  cursor: pointer;
}

.button i {
  display: block;
  color: #526900;
  font-size: 18px;
  text-align: center;
  line-height: 1;
}

.button,
.button i {
  transition: 0.2s ease all;
}

.button:hover {
  background-color: #829345;
}

.button:hover i {
  color: #fff;
}
